.rightMenu__header {
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  padding: 1rem 2rem;
  img {
    cursor: pointer;
    margin-right: 10px;
  }
  span {
    color: #F9A109;
  }
}
.rightMenu__container {
  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
    border-radius: 10px;
    background-color: #f5f5f5;
  }
  &::-webkit-scrollbar {
    width: 4px;
    background-color: #f5f5f5;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
    background-color: #575d77cc;
  }
}