input {
  display: block;
  box-sizing: border-box;
  width: 100%;
  border-radius: 6px;
  border: 1px solid #d3d3d3;
  padding: 17px 15px;
  margin-bottom: 10px;
  font-size: 1rem;
  font-family: 'Quicksand', sans-serif;
  outline: none;
  &.error {
    border: 1px solid #ec5990;
  }
  &:focus{
    outline: 0;
    border: 2px solid #0bafe4;
  }
}
label {
  line-height: 2;
  text-align: left;
  display: block;
  margin-bottom: 13px;
  margin-top: 20px;
  color: rgb(52, 51, 58);
  font-size: 14px;
  font-weight: bold;
}