.items__container {
  margin-bottom: 1.5rem;
}
.items__categoryName {
  margin-bottom: 1rem;
  font-weight: 500;
  font-size: 1.1rem;
}
.items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 200px));
  grid-gap: 1rem;
}