.shoppingListItem__container {
  .shoppingListItem__category{
    color: #828282;
  }
  .shoppingListItem__item {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .item_name {
      font-weight: 500;
    }
    .quantity {
      border: 3px solid #F9A109;
      border-radius: 24px;
      padding: 0.2rem 0.5rem;
      color: #F9A10A;
      font-size: 0.8rem;
      font-weight: 500;
    }
  }
}