.loader {
  display: flex;
  justify-content: center;
  padding: 3rem;
  .load {
    border: .5rem solid #dddbd7; /* Light grey */
    border-top: .5rem solid rgb(43, 46, 43); /* Blue */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
  }
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}