.list-actions {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  p {
    cursor: pointer;
  }
  .complete-list-button {
    width: auto !important;
    background: #56CCF2 !important;
    min-width: fit-content !important;
    margin-left: 2rem;
    border-radius: 12px !important;
    font-size: 0.9rem !important;
    text-transform: capitalize !important;
  }
}