.header {
  padding: 30px 30px 0 30px;
}
.header__text {
  .additem {
    cursor: pointer;
    background-color: #fff;
    color: #000;
    padding: 11px;
    box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.04);
    border-radius: 12px;
    margin-top: 1rem;
    border: none;
    outline: none;
  }
}
.shoppinglist__accordion {
  margin-top: 2rem;
}
.listName {
  display: flex;
  justify-content: space-between;
  padding: 30px 30px 0 30px;
  img {
    cursor: pointer;
  }
}
.list {
  max-height: 510px;
  overflow: scroll;
  padding: 30px 30px 0 30px;
  margin-top: 1rem;
  margin-bottom: 2rem;
}
.action_center {
  background-color: #fff;
}